#menu {
	border:none;
}

input {
	margin-right:7px;
}

.has-text-strikethrough{
	text-decoration: line-through hsl(348, 86%, 43%);
}

.quiz-error {
	border-left:4px solid hsl(348, 86%, 43%);
}

.quiz-success {
	border-left:4px solid hsl(141, 53%, 31%);
}

label.checkbox {
	display:block;
}

.omission {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid hsl(348, 86%, 43%);
    text-align: center;
	padding:1px;
	margin-left:-2px;
	margin-right:5px;
	padding-left:7px;
}

.quiz-type-qcu .radio{
	display:block;
	margin:0;
}

thead {
	text-align:center;
	font-size:90%;
}
td:nth-of-type(1) {
	width: 50%!important;
}
table .radio{
	display:block;
	text-align:center;
}